@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 16px;
}

@layer components {
  .headerHeight {
    @apply h-14;
  }
  /* 顶开头部 */
  .avoidHeader {
    @apply mt-14;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "LXGW WenKai GB", sans-serif;
}
